<div class="headerRow">
    <div class="page-header">
      <a class="btn pull-left hidden" style="margin-top:4px;" href="">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <h1 class="text-center">Advertisement collections</h1>
     
    </div>  
</div>
<div>
  Donec id elit non mi porta gravida at eget metus. 
  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
  Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  </div>  
  </br>
<div class="list-group"></div>