<div class="jumbotron" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="img/dictionary.jpg"/>
        </div>

        <div class="col-md-7">
            <h2>Welcome to Advertisements Directory</h2>
            <p>Advertisements Directory is a sample app that demonstrates how to build web applications using different frameworks.
                This version is built with <a href="http://backbonejs.org/">Backbone.js</a>
                and <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Try It</h2>
        <p>
            Below there is a list of folders. Each folder contains a list of advertisements - you can see them by tapping on the folder description.
            For each advertisement there is a short description and a link to its preview.
            On tapping the description a new view shall open displaying the contents of the advertisement.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get the Code</h2>
        <p>
            The source code for this application is maintained in <a href="https://github.com/tadej-mali/ad-monster">this GitHub repository</a>.
            The repository includes two adapters to use the application with different data persistence solutions: in-memory store and REST API.
        </p>
        <p><a class="btn btn-default" role="button" href="https://github.com/tadej-mali/ad-monster/archive/master.zip">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More</h2>
        <p>
            The app was partially based on the <a href="https://github.com/ccoenraets/backbone-directory">Employee Directory</a> by Christophe Coenraets.
        <p>
            <a class="btn btn-default" role="button" href="http://coenraets.org">Visit the Blog</a>
        </p>
    </div>
</div>

